<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Promo Tracking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"  />
      </head>
      <body>
        <div>
            <!-- <h5><%= user.lecturerName %> of <%= user.department %>, <%= user.faculty %></h5>
            <h5>Level : <%= user.level %></h5>
            <div>
                
                   <% user.accessor.map((item, index) =>{ %>
                        <% return ( %>
                            <div>
                                <span> <% index+1 %> : to accept invitation of <% item.accessorname %></span>
                                <p>http://localhost:3000/api/verifyInvite/<%= user._id %>?accessorId=<% {item.id} %> </p>
                                <br />
                            </div>
                        <% ) %>
                    <% }) %>
                
            </div> -->
            <p>Using EJS</p>
        </div>
      </body>
</html>